body ::-webkit-scrollbar {
            width: "12px"; 
          }
body ::-webkit-scrollbar-thumb{
            background: "#888"; 
            border-radius: "8px";
            background-clip: "content-box";
            border: "3px solid transparent"
          }

body ::-webkit-scrollbar-thumb:hover{
            background: "#7A90A4";
            background-clip: "content-box";
            border: "3px solid transparent";
          }
body ::-webkit-scrollbar-track {
            background: "#f1f1f1";
            border-radius: "10px";
        
          }